.main-body{
    background-color: blueviolet;
}

.content-body{
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: white;
    padding: 1em;
}

.delete-form{
    margin-left: 1em;
}

.cancel-button{
    margin-left: 1em;
}